.wrapper {
  display: grid;
  grid-template: repeat(6, 1fr) / repeat(6, 1fr);
  gap: 0px;
  height: 100vh;
  text-align: center;
}
header {
  grid-area: 1 / 1 / 1 / 7;
  background-color: lightgray;
}
section {
  display: grid;
  grid-template: repeat(4, 1fr) / repeat(4, 1fr);
  gap: 5px;
  grid-area: 2 / 1 / 6 / 5;
  background-color: lightyellow;
  justify-items: center;
}
section h2 {
  grid-row: 1;
  grid-column: 1 / 5;
}
section div {
  background-color: blanchedalmond;
}
.maindiv1 {
  grid-row: 2;
  grid-column: 1 / 3;
  width: 90%;
}
.maindiv2 {
  grid-row: 2;
  grid-column: 3 / 5;
  width: 90%;
}
.maindiv3 {
  grid-row: 3 / 5;
  grid-column: 1 / 5;
  width: 95%;
}
aside {
  grid-area: 2 / 5 / 6 / 7;
  background-color: palegreen;
}
footer {
  display: grid;
  grid-template: 1fr / repeat(4, 24%);
  justify-content: space-evenly;
  gap: 5px;
  grid-area: 6 / 1 / 7 / 7;
  background-color: lightgray;
}
footer div {
  background-color: aliceblue;
}
